* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Montserrat", serif;
}

.container {
  width: 85%;
  margin: auto;
}
/* navbar style */
.navbar {
  display: flex;
  justify-content: space-between;
  margin-block: 40px;
  /* position: relative; */
}
.menu ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  gap: 80px;
  margin-block: 30px;
  font-weight: 700;
}
.menu ul a {
  color: hsl(230, 29%, 20%);
  text-transform: uppercase;
}
/* li a:last-child{
    color: hsl(230, 87%, 40%);   
   } */
.menu ul li:hover {
  text-decoration: underline;
  text-decoration-color: hsl(230, 29%, 20%);
}

.login:hover {
  text-decoration: underline;

  text-decoration-color: gray;
}
.logo {
  margin-block: 30px;
}
/* section 2 */
.section {
  display: flex;
  gap: 130px;
  margin-block: 20px;
  /* position: absolute; */
  top: 28%;
  right: 8%;
  align-items: center;
  flex-direction: row;
}
/* .image{
    width: 40%;
} */
.image img {
  max-width: 800px;
  /* width: 100%; */
  position: relative;
  right: -22%;
}
.new {
  display: flex;
  text-transform: uppercase;
  color: hsl(231, 7%, 65%);
  word-spacing: 5px;
  align-items: center;
  gap: 10px;
  margin-block: 20px;
}
.newbtn {
  font-weight: 600;
  color: hsl(207, 33%, 95%);
  background-color: hsl(230, 29%, 20%);
  height: 30px;
  width: 50px;
  border-radius: 50px;
  text-transform: uppercase;
}
h1 {
  font-size: 50px;
  color: hsl(230, 29%, 20%);
  text-transform: uppercase;
}
.schedule {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  gap: 10px;
  margin-block: 50px;
}
.schedule button {
  width: 200px;
  height: 40px;
  background-color: hsl(0, 100%, 68%);
  color: white;
  border: none;
  text-transform: uppercase;
  border-radius: 5px;
  font-weight: 600;
}
.schedule button:hover {
  background-color: hsl(0, 100%, 74%);
}
.schedule p {
  color: hsl(231, 7%, 65%);
}
.para {
  color: hsl(230, 11%, 40%);
  font-size: 20px;
  margin-block: 10px;
}
.text,
.image {
  width: 50%;
}

.smallMenu,
.small {
  display: none;
}
.show {
  position: absolute;
  z-index: 999;
  height: 200px;
  width: 300px;
  background-color: hsl(207, 33%, 100%);
  margin: auto;
  top: 125px;
  /* right: 20%; */
  border-radius: 2px;
  display: flex;
  box-shadow: 2px 2px 3px rgb(200, 193, 193), -2px -2px 3px rgb(200, 193, 193);
  text-align: center;
  justify-content: center;
}

.show ul a {
  color: hsl(230, 29%, 20%);
  text-transform: uppercase;
}
.show ul li {
  list-style: none;
  font-weight: 700;
  margin: 15px;
}
.show ul li:hover {
  text-decoration: underline;
  font-size: 15px;
  /* text-shadow: 2px 2px 2px rgb(194, 189, 189),-2px -2px 2px rgb(203, 195, 195); */
}
.show hr {
  width: 200px;
}
@media (max-width: 760px) {
  body {
    overflow-x: hidden;
  }
  .section {
    flex-direction: column-reverse;
  }
  .text,
  .image {
    width: 100%;
  }
  .menu {
    display: none;
  }
  .small {
    display: inline;
    margin-block: 30px;
  }
  .image img {
    max-width: 800px;
    width: 100%;
    position: relative;
    right: -19%;
  }
}
